.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App-header {
  height: 50vh;
  display: flex;
  align-items: 'center';
  justify-content: 'center';
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: 'center';
  justify-content: 'center';
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rec-dot_active {
  background-color: #3D93C7 !important;
  box-shadow: 0 0 1px 3px #3D93C7 !important;
}

.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #3D93C7 !important;
}

.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: #3D93C7 !important;
  box-shadow: 0 0 1px 3px #3D93C7 !important;
}

.rec-arrow {
  background-color: #3D93C7 !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: white !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;

}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}